<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.surf"
    android:versionCode="8"
    android:versionName="1.3.0" >
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />
    <compatible-screens>
        <!-- all small size screens - except ldpi -->
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens - except ldpi -->
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <!-- all large size screens - except ldpi -->
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <!-- all xlarge size screens - except ldpi -->
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
    </compatible-screens>
    <application
        android:debuggable="false"
        android:allowBackup="true"
        android:icon="@drawable/game_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:name="net.ui.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
    		android:name="net.game.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            />
    	<activity
    		android:name="net.ui.MainMenu"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            />
    		<activity
    		android:name="net.ui.Shopping"
                android:configChanges="orientation"
                android:screenOrientation="landscape"
                />
    		 <activity
            android:name="net.ui.BuyCoins"
                 android:configChanges="orientation"
                 android:screenOrientation="landscape"
                 />
    		 <activity
    		android:name="net.ui.Tutorial"
                 android:configChanges="orientation"
                 android:screenOrientation="landscape"

                 />
        <activity android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
    </application>
    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
</manifest>